In [1]:
import pandas as pd, numpy as np

## <b>File Reading</b>

In [3]:
df = pd.read_excel("pisascore2018.xlsx")

In [4]:
df.head()

   Rank                                       Country  Maths
0   1.0  China (Beijing, Shanghai, Jiangsu, Zhejiang)    591
1   2.0                                     Singapore    569
2   3.0                                         Macao    558
3   4.0                              Hong Kong, China    551
4   5.0                                        Taiwan    531

In [6]:
# read an excel file and also specify sheet
df_sci = pd.read_excel("pisascore2018.xlsx", sheet_name="Sci")

In [7]:
df_sci.head()

   Rank                                       Country  Science
0   1.0  China (Beijing, Shanghai, Jiangsu, Zhejiang)      590
1   2.0                                     Singapore      551
2   3.0                                         Macao      544
3   4.0                                       Estonia      530
4   5.0                                         Japan      529

In [8]:
df_maths = pd.read_excel("pisascore2018.xlsx", sheet_name="Maths")

In [9]:
df_reading = pd.read_excel("pisascore2018.xlsx", sheet_name="Reading")

In [10]:
# specify as None
df_none = pd.read_excel("pisascore2018.xlsx", sheet_name=None)

Specifying "None" will get all sheets

## <b>File Merging</b>

### Method 1

In [15]:
pisa = pd.merge(df_sci, df_maths, on="Country")

In [16]:
pisa = pd.merge(pisa, df_reading, on="Country")

In [17]:
pisa.head()

,Rank_x,Country,Science,Rank_y,Maths,Rank,Reading
0,1.0,"China (Beijing, Shanghai, Jiangsu, Zhejiang)",590,1.0,591,1.0,555
1,2.0,Singapore,551,2.0,569,2.0,549
2,3.0,Macao,544,3.0,558,3.0,525
3,4.0,Estonia,530,8.0,523,5.0,523
4,5.0,Japan,529,6.0,527,14.0,504

### Method 2

In [19]:
# by using df_none
pisa = pd.merge(df_none["Sci"][["Country", "Science"]], 
               df_none["Maths"][["Country", "Maths"]])

In [21]:
pisa = pd.merge(pisa, 
               df_none["Reading"][["Country", "Reading"]])

In [22]:
pisa.head()

                                        Country  Science  Maths  Reading
0  China (Beijing, Shanghai, Jiangsu, Zhejiang)      590    591      555
1                                     Singapore      551    569      549
2                                         Macao      544    558      525
3                                       Estonia      530    523      523
4                                         Japan      529    527      504

## <b>Others</b>

In [25]:
# create a new column that sums science, math and reading scores
pisa["Total"] = pisa[["Reading", "Maths", "Science"]].sum(axis=1)

In [26]:
pisa.head()

,Country,Science,Maths,Reading,Total
0,"China (Beijing, Shanghai, Jiangsu, Zhejiang)",590,591,555,1736
1,Singapore,551,569,549,1669
2,Macao,544,558,525,1627
3,Estonia,530,523,523,1576
4,Japan,529,527,504,1560