In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pd.set_option("display.max_rows", 10)

In [3]:
col_names = "Year, Month, Day, UTC Hour, PM2.5, PM10_mask, Retrospective".split(", ")

In [4]:
col_names

['Year', 'Month', 'Day', 'UTC Hour', 'PM2.5', 'PM10_mask', 'Retrospective']

In [5]:
url = "http://berkeleyearth.lbl.gov/air-quality/maps/cities/Laos/Vientiane_Prefecture/Vientiane.txt"
df = pd.read_csv(url, sep='\t', skiprows=10, names=col_names)

In [6]:
# drop PM10_mask, Retrospective column
df.drop(columns=["PM10_mask", "Retrospective"], axis=1, inplace=True)

In [7]:
# rename UTC Hour column
df.rename(columns={"UTC Hour":"Hour"}, inplace=True)

In [8]:
df.head()

   Year  Month  Day  Hour  PM2.5
0  2016     12    6     4   39.6
1  2016     12    6     5   34.4
2  2016     12    6     6   35.3
3  2016     12    6     7   30.5
4  2016     12    6     8   33.2

In [10]:
# convert UTC into GMT+7
df["DateTime"] = pd.to_datetime(df[["Year", "Month", "Day", "Hour"]]) + pd.to_timedelta(7, unit="h")

In [11]:
df.Year = df["DateTime"].dt.year
df.Month = df["DateTime"].dt.month
df.Day = df["DateTime"].dt.day
df.Hour = df["DateTime"].dt.hour

In [14]:
df["DateTime"].dt.dayofweek

0        1
1        1
2        1
3        1
4        1
        ..
31934    0
31935    0
31936    0
31937    0
31938    0
Name: DateTime, Length: 31939, dtype: int64

In [15]:
# extract days names from DateTime column
df["DayName"] = df["DateTime"].dt.strftime("%a")

In [16]:
df.head()

   Year  Month  Day  Hour  PM2.5            DateTime DayName
0  2016     12    6    11   39.6 2016-12-06 11:00:00     Tue
1  2016     12    6    12   34.4 2016-12-06 12:00:00     Tue
2  2016     12    6    13   35.3 2016-12-06 13:00:00     Tue
3  2016     12    6    14   30.5 2016-12-06 14:00:00     Tue
4  2016     12    6    15   33.2 2016-12-06 15:00:00     Tue